<p>group works!</p>



<p-tree [value]="files"
        [virtualScroll]="true"
        [virtualScrollItemSize]="40"
        scrollHeight="500px"
        selectionMode="single"
        [(selection)]="selectedFile"
        (onNodeSelect)="nodeSelect($event)"
        (onNodeUnselect)="nodeUnselect($event)"
        [draggableNodes]="true"
        [droppableNodes]="true"
        draggableScope="self"
        droppableScope="self"
>
  </p-tree>

<!--    [virtualScroll]="true"
        [virtualScrollItemSize]="40"
        scrollHeight="500px"




        -->
