.p-draggable-enter{
  color: blueviolet !important;
}

.hide-btn{
  visibility: hidden !important;
}

.title-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.title-wrapper:hover p-button{
  visibility: visible !important;
}

.drag-drop-area{
  position: absolute;
  width: 100%;
  height: 50px;
}

.drop-area{
  width: 50px;
}

